[submodule "scrapers/ilekarze"]
	path = "scrapers/ilekarze"
	url = https://github.com/Rolek212/Web_scrapper.git
[submodule "scrapers/medyczka"]
	path = scrapers/medyczka
	url = https://github.com/kriszub98/projekt_zig
